In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r"C:/Users/asanv/PycharmProjects/Exa_Time_Predict/file.csv")

In [3]:
data

,User Name,User Age,User Email,User Mobile,User Gender,User Type,Q2,Q3,Q4,Q5,Satisfy,Time,Unnamed: 12
0,Akshat Sanvaliya,21,asanvaliya1@gmail.com,8.962319e+09,Male,True,Question,generalize it,variability,True,Yes,100,NaN
1,Selena Gomez,28,sselena22@gmail.com,5.554443e+11,Female,True,Question,randomize it,variability,False,Yes,42,NaN
2,Jade,29,asdf@gmail.com,5.678965e+08,Female,NaN,Question,generalize it,Verification,True,Yes,24,NaN
3,Tulsi,21,tulsi@gmail.com,8.967245e+09,Female,True,Question,generalize it,variability,NaN,Yes,34,NaN
4,Harry Styles,34,adjaoidhoi@gmail.com,3.445567e+10,Male,False,Answer,randomize it,variability,False,No,28,NaN
5,Robert Downy Junior,55,robeert@gmail.com,2.334565e+11,Male,True,Answer,randomize it,variability,False,Yes,33,NaN
6,Spongebob,32,sdhsirhu@gmail.com,3.455677e+10,Male,True,Answer,randomize it,variability,True,Yes,29,NaN
7,abcd,34,heuidiubicb@gmail.com,5.667575e+06,Female,False,Answer,randomize it,Verification,True,Yes,28,NaN
8,asfsfg,34,gdfgdbdb,6.567567e+08,Male,False,Answer,randomize it,variability,False,Yes,16,NaN
9,Gaurav,21,gaurav@gmail.com,4.546577e+10,Male,False,Answer,generalize it,variability,True,Yes,21,NaN
10,Ayush,21,ajdiohcfuih@gmail.com,3.445568e+09,Male,True,Question,generalize it,Verification,False,Yes,25,NaN
11,rita ora,34,sdfnrfiu@gmail.com,2.343455e+08,Female,True,NaN,randomize it,Verification,True,Yes,62,NaN
12,Post Malone,38,post@gmail.com,3.454568e+11,Male,True,Question,generalize it,variability,False,No,35,NaN
13,Lil Nas X,34,lil@gmail.com,4.546468e+10,Male,False,Answer,generalize it,NaN,NaN,Yes,39,NaN
14,Jack harlow,30,jack@gmail.com,3.456577e+09,Male,True,Answer,generalize it,Verification,False,Yes,30,NaN
15,Marcus Halloway,25,marcusXXX@gmail.com,8.863475e+11,Male,True,Question,randomize it,variability,True,Yes,126,NaN
16,Aiden Pierce,29,aiden@gmail.com,4.554757e+10,Male,True,Question,generalize it,Verification,True,Yes,27,NaN
17,Justin,34,jus@gmail.com,3.464868e+07,Male,True,Answer,randomize it,variability,True,No,30,NaN
18,Austin,34,austin 2GMAIL.COM,3.443647e+09,Male,True,Answer,randomize it,variability,False,No,57,NaN
19,Alley,21,alley@gmail.com,2.344658e+10,Male,True,Answer,randomize it,Verification,False,Yes,49,NaN
20,BOB,23,bob@gmail.com,3.556891e+09,Male,True,Answer,randomize it,Verification,False,Yes,50,NaN
21,Lisa,34,lis@gmail.com,8.946476e+09,Female,True,Question,generalize it,Verification,False,Yes,67,NaN
22,Mia Khalifa,34,mia@gmail.com,3.456687e+10,Female,False,Answer,randomize it,variability,False,No,51,NaN
23,Sasha grey,29,sasgirl@gmail.com,5.747436e+08,Female,True,Question,generalize it,Verification,False,Yes,86,NaN
24,Ozuna,40,oz@gmail.com,5.554444e+09,Male,False,Answer,randomize it,variability,True,Yes,141,NaN
25,Megan Thee Stallion,38,megthe@gmail.com,9.999449e+10,Female,False,Answer,randomize it,variability,True,Yes,185,NaN
26,J balvin,30,balvin@gmail.com,7.778865e+08,Male,True,Question,generalize it,Verification,True,Yes,131,NaN
27,Jesse Eisenberg,22,jesse1@gmail.com,2.345678e+09,Male,False,Answer,randomize it,NaN,True,No,78,NaN
28,Sean paul,43,sea@gmail.com,2.345567e+10,Male,True,Question,randomize it,variability,True,No,128,NaN
29,Aidra Fox,26,aidr@gmail.com,3.456788e+08,Female,True,NaN,generalize it,NaN,NaN,Yes,58,NaN
30,Ben Tenison,17,ben10@gmail.com,4.556789e+08,Male,False,NaN,randomize it,variability,True,Yes,43,NaN
31,Niki Minaj,39,nikmin@gmail.com,5.667789e+09,Female,True,Question,generalize it,variability,False,No,43,NaN
32,Adele,44,adlelele@gmail.com,2.334456e+08,Female,True,Answer,randomize it,variability,True,Yes,31,NaN
33,Anshul,22,ansh@gmail.com,8.944569e+09,Male,True,Question,randomize it,variability,False,Yes,28,NaN
34,Chris Evans,39,chrEv@gmail.com,2.345658e+09,Male,False,Answer,randomize it,Verification,True,Yes,51,NaN
35,Scarlett Johanson,33,ScarJoh@gmail.com,3.434978e+09,Female,True,Question,randomize it,variability,False,No,36,NaN
36,Aishwarya,21,ais@gmail.com,4.354768e+09,Female,NaN,Question,generalize it,Verification,True,Yes,36,NaN
37,Taylor Swift,28,taytayswift@gmail.com,3.445568e+08,Female,False,NaN,randomize it,variability,True,Yes,70,NaN
38,Lizzo,34,lizz@gmail.com,3.456678e+09,Female,False,Answer,randomize it,Verification,False,Yes,89,NaN
39,Shinchan,5,shin@gmail.com,5.656678e+10,Male,False,Answer,generalize it,NaN,False,Yes,19,NaN
40,Mitsi Nohara,37,mitnoh@gmail.com,4.556678e+07,Female,True,Question,generalize it,Verification,False,Yes,23,NaN
41,Harry Nohara,40,harnoh@gmail.com,3.466768e+08,Male,False,NaN,randomize it,NaN,True,Yes,19,NaN
42,Jason Derulo,34,jason@gmail.com,6.474875e+09,Male,True,Question,generalize it,Verification,True,Yes,55,NaN
43,Demi Lovato,36,demilov@gmail.com,4.547586e+09,Female,True,Answer,generalize it,Verification,False,No,59,NaN
44,lil Dicky,37,lidDik@gmail.com,2.343457e+09,Male,True,Answer,randomize it,Verification,True,Yes,33,NaN
45,Amanda Cox,23,amand@gmail.com,4.354658e+07,Female,True,Answer,randomize it,Verification,False,Yes,31,NaN
46,Ava Max,36,ava@gmail.com,3.456578e+09,Female,True,Question,randomize it,variability,False,Yes,27,NaN
47,Pragya Dwivedi,21,pragdw@gmail.com,6.854433e+09,Female,True,Question,randomize it,variability,False,Yes,28,NaN
48,Elizabeth Olsen,38,Eliol@gmail.com,3.445468e+08,Female,True,Question,randomize it,variability,NaN,Yes,37,NaN
49,Zayn Malik,29,zaynmal@gmail.com,2.354568e+09,Male,True,Question,generalize it,variability,False,No,30,NaN
50,XXX Tentacion,29,tenta@gmail.com,NaN,Male,False,Answer,generalize it,Verification,False,Yes,356,NaN
51,Tom Cruise,50,tomc@gmail.com,5.554443e+08,Male,False,Question,randomize it,Verification,False,No,1003,NaN

In [4]:
data=data.dropna()

In [5]:
data

Empty DataFrame
Columns: [User Name, User Age, User Email, User Mobile, User Gender, User Type, Q2, Q3, Q4, Q5, Satisfy, Time, Unnamed: 12]
Index: []

In [6]:
data.shape

(0, 13)

In [7]:
data=data.drop(['User Name','User Email','User Mobile'],axis=1)

In [8]:
data

Empty DataFrame
Columns: [User Age, User Gender, User Type, Q2, Q3, Q4, Q5, Satisfy, Time, Unnamed: 12]
Index: []

In [9]:
data.shape

(0, 10)

In [10]:
x=data.drop(['Time'],axis=1)

In [11]:
x

Empty DataFrame
Columns: [User Age, User Gender, User Type, Q2, Q3, Q4, Q5, Satisfy, Unnamed: 12]
Index: []

In [12]:
y=data.iloc[:,0]

In [13]:
y

Series([], Name: User Age, dtype: int64)

In [14]:
from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Country'. 
x['User Gender']= label_encoder.fit_transform(x['User Gender'])
x['User Type']= label_encoder.fit_transform(x['User Type'])
x['Q2']= label_encoder.fit_transform(x['Q2'])
x['Q3']= label_encoder.fit_transform(x['Q3'])
x['Q4']= label_encoder.fit_transform(x['Q4'])
x['Q5']= label_encoder.fit_transform(x['Q5'])
x['Satisfy']= label_encoder.fit_transform(x['Satisfy'])
print(x)

Empty DataFrame
Columns: [User Age, User Gender, User Type, Q2, Q3, Q4, Q5, Satisfy, Unnamed: 12]
Index: []

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [16]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.2, random_state=7)
#test 0.2 20%testing , random se koi 80 train koi 20 test
model = LogisticRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [ ]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.2, random_state=7)
knn_regressor = KNeighborsRegressor(n_neighbors=3,algorithm="brute",weights="distance")
knn_regressor.fit(x_train,y_train)

In [ ]:
print(x_train.shape, x_test.shape)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))

scaler.fit(x_train)

In [ ]:
scaled_train_x = pd.DataFrame(scaler.transform(x_train))
scaled_test_x = pd.DataFrame(scaler.transform(x_test))

In [ ]:
scaled_test_x

In [ ]:
knn_regressor = KNeighborsRegressor(n_neighbors=3,algorithm="brute",weights="distance")
knn_regressor.fit(scaled_train_x, y_train)

In [ ]:
train_pred = knn_regressor.predict(scaled_train_x)
test_pred = knn_regressor.predict(scaled_test_x)


train_pred

In [ ]:
from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_train,train_pred))
print(mean_squared_error(y_test,test_pred))

In [ ]:
import pickle

In [ ]:
saved_model = pickle.dumps(knn_regressor)

In [ ]:
knn_from_pickle = pickle.loads(saved_model)

In [ ]:
with open('file.pkl', 'wb') as file:
      
    # A new file will be created
    pickle.dump(knn_regressor, file)

In [ ]:
file = open("file.pkl",'rb')

In [ ]:
pickled_model = pickle.load(open('file.pkl', 'rb'))
pickled_model.predict([[0.500000,1.0,1.0,1.0,0.0,1.0,0.0,0.0]])